.lego-gallery-container {
    background-image: url('/assets/lego-backgroung.png'); /* Percorso dell'immagine di sfondo */
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
  }