<section class="home-content text-center my-5">
  <img src="/assets/logo.png" class="img-fluid" alt="Immagine principale">
  <h1 class="my-4">Collezioni Lego e modellini Die-Cast: Scopri il Mio Mondo</h1>
  <p class="lead">Benvenuti nel mio mondo di collezioni! 🚗🧱</p>
  <p class="lead mb-2 mx-auto" style="max-width: 1024px;">Sono un appassionato di Lego e modellini Die-Cast, e questo sito è la mia vetrina personale per condividere con voi la mia collezione. Ogni set e modellino ha una storia, un valore e un fascino unico che voglio raccontare.</p>
  <p class="lead mb-2">Esplora le mie collezioni di Lego e modellini Die-Cast, scopri i dettagli unici dei modelli più rari e lasciati ispirare dalla passione per il collezionismo. Questo sito è una vetrina dedicata agli appassionati, dove ogni pezzo racconta una storia e celebra l'arte del design in miniatura.</p>
</section>

<!-- Two Columns Section -->
<section class="home-content my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="/assets/lego-gallery.png" class="card-img-top" alt="Modellino 1">
        <div class="card-body">
          <h5 class="card-title">🧱 La mia collezione Lego</h5>
          <p class="card-text">Da appassionato di mattoncini Lego, ho raccolto nel tempo set iconici, rari e da collezione. Ogni modello ha una storia, un design unico e dettagli sorprendenti. Scopri la mia collezione e immergiti nel mondo Lego!</p>
          <a href="/galleria-lego" class="btn btn-primary float-end">Esplora la galleria</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <img src="/assets/burago-gallery.png" class="card-img-top" alt="Modellino 2">
        <div class="card-body">
          <h5 class="card-title">🚗 I miei modellini Die-Cast</h5>
          <p class="card-text">La mia passione per le auto in miniatura prende vita con i modellini Die-Cast! Dai classici intramontabili ai modelli sportivi più ricercati, ogni pezzo rappresenta un mix perfetto di dettagli e fedeltà al design originale.</p>
          <a href="/galleria-burago" class="btn btn-primary float-end">Esplora la galleria</a>
        </div>
      </div>
    </div>
  </div>
</section>